<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chenzhenhu.cloud.order.mapper.OrderMapper">
    <resultMap id="orderMap" type="orderEntity">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="name" column="name"/>
        <result property="accountId" column="account_id"/>
        <result property="productId" column="product_id"/>
    </resultMap>

    <insert id="insert" parameterType="orderEntity" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO order (id, create_time, name, account_id, productId) VALUES (#{id}, #{createTime}, #{name}, #{accountId}, #{productId})
    </insert>

    <select id="selectById" resultMap="orderMap">
        SELECT * FROM order WHERE id = #{id}
    </select>
</mapper>